<ion-view view-title="Contact Us">
  <ion-content>
   <div class="list contacts">
			<span class="item item-divider">CONTACTS</span>
			<span class="item">Email: info@wheee.eu</span>
			<span class="item">Phone: +(40) 756 520 895</span>			

			<span class="item item-divider">LINKS</span>
			<span class="item">Homepage</span>
			<span class="item">Add new event</span>
			<span class="item">Search event</span>
      <span class="item">LOG IN</span>
      <span class="item"></span>
		</div>
  </ion-content>
</ion-view>
