<ion-view>
    <ion-content ng-repeat="user in userData" class="container-padding padt-55">
        <p class="subtitle white mt-25">
            <i class="ion-edit"> </i>
            <span>Profile Edit</span>
        </p>

            <div class="list">

                <div class="align-center">
                    <img src="{{user.fb_picture}}" class="img-thumbnail profile-picture" />
                </div>
                <p>Your Wheee! profile data with every login is syncronyzed with your Facebook profile.</p>

                <!--<label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}">-->


                <!--</label>-->
                <span class="input-label">E-mail</span>
                <input type="text" disabled class="form-input" placeholder="E-mail *" ng-model="user.email" name="email">

                <div class="error-container" ng-show="authorizationForm.username.$error" ng-messages="authorizationForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <span class="input-label">First name *</span>
                <input type="text" disabled name="firstname" placeholder="First name *" ng-model="user.firstname" required class="form-input">

                <span class="input-label">Last name *</span>
                <input type="text" disabled name="lastname" placeholder="Last name *" ng-model="user.lastname" required class="form-input">

                <span class="input-label">Gender *</span>
                <input type="text" disabled name="gender" placeholder="Gender *" ng-model="user.gender" required class="form-input">

                <div class="clearer"></div>

                <p class="subtitle white mt-25">
                    <i class="ion-edit"> </i>
                    <span>Notification settings</span>
                </p>

                <div class="width-50">
                    <span class="input-label newsletter">Newsletter</span>
                </div>
                <div class="width-50">
                    <ion-toggle name="newsletter" ng-model="user.newsletter" ng-if="user.newsletter == 1" ng-checked="true" ng-true-value="1" ng-false-value="0" ng-click="saveNotification('newsletter', 0)">
                    </ion-toggle>
                    <ion-toggle name="newsletter" ng-model="user.newsletter" ng-if="user.newsletter == 0" ng-checked="false" ng-true-value="1" ng-false-value="0" ng-change="saveNotification('newsletter', 1)">
                    </ion-toggle>
                </div>

                <div class="width-50">
                    <span class="input-label newsletter">Weekly general event notification</span>
                </div>
                <div class="width-50">
                    <ion-toggle name="push_weekly_general" ng-model="user.push_weekly_general" ng-if="user.push_weekly_general == 1" ng-checked="true" ng-true-value="1" ng-false-value="0" ng-click="saveNotification('push_weekly_general', 0)">
                    </ion-toggle>
                    <ion-toggle name="push_weekly_general" ng-model="user.push_weekly_general" ng-if="user.push_weekly_general == 0" ng-checked="false" ng-true-value="1" ng-false-value="0" ng-change="saveNotification('push_weekly_general', 1)">
                    </ion-toggle>
                </div>

                <div class="clearer"></div>

                <div class="width-50">
                    <span class="input-label newsletter">Daily interesting event notification</span>
                </div>
                <div class="width-50">
                    <ion-toggle name="push_daily_interesting" ng-model="user.push_daily_interesting" ng-if="user.push_daily_interesting == 1" ng-checked="true" ng-true-value="1" ng-false-value="0" ng-click="saveNotification('push_daily_interesting', 0)">
                    </ion-toggle>
                    <ion-toggle name="push_daily_interesting" ng-model="user.push_daily_interesting" ng-if="user.push_daily_interesting == 0" ng-checked="false" ng-true-value="1" ng-false-value="0" ng-change="saveNotification('push_daily_interesting', 1)">
                    </ion-toggle>
                </div>

                <div class="clearer"></div>

                <div class="width-50">
                    <span class="input-label newsletter">Bookmarked events notification</span>
                </div>
                <div class="width-50">
                    <ion-toggle name="push_daily_bookmarked" ng-model="user.push_daily_bookmarked" ng-if="user.push_daily_bookmarked == 1" ng-checked="true" ng-true-value="1" ng-false-value="0" ng-click="saveNotification('push_daily_bookmarked', 0)">
                    </ion-toggle>
                    <ion-toggle name="push_daily_bookmarked" ng-model="user.push_daily_bookmarked" ng-if="user.push_daily_bookmarked == 0" ng-checked="false" ng-true-value="1" ng-false-value="0" ng-change="saveNotification('push_daily_bookmarked', 1)">
                    </ion-toggle>
                </div>

                <div class="clearer"></div>

                <div class="width-50">
                    <span class="input-label newsletter">Joined events notification</span>
                </div>
                <div class="width-50">
                    <ion-toggle name="push_daily_joined" ng-model="user.push_daily_joined" ng-if="user.push_daily_joined == 1" ng-checked="true" ng-true-value="1" ng-false-value="0" ng-click="saveNotification('push_daily_joined', 0)">
                    </ion-toggle>
                    <ion-toggle name="push_daily_joined" ng-model="user.push_daily_joined" ng-if="user.push_daily_joined == 0" ng-checked="false" ng-true-value="1" ng-false-value="0" ng-change="saveNotification('push_daily_joined', 1)">
                    </ion-toggle>
                </div>



                <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted"
                    ng-messages="authorizationForm.password.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>

            </div>

    </ion-content>
</ion-view>