<ion-side-menus enable-menu-with-back-views="true" >
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable menu-navbar">
			<ion-nav-back-button>
			</ion-nav-back-button>
				<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon menu-button" menu-toggle="right">
        </button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right">
		<ion-header-bar class="bar-stable menu-navbar">
			<span class="title">Wheee!</span>
		</ion-header-bar>
		<ion-content>
			<ion-list ng-if="logged == 0">
				<div ng-repeat="group in groupLO">
					<ion-item ng-if="group.name!='Search'" menu-close class="item-stable" ng-click="toggleGroup(group)" ng-href="{{group.link}}" ng-class="{active: isGroupShown(group)}">
						<i  ng-class="group.name=='Search' ? (isGroupShown(group) ? 'ion-minus' : 'ion-plus') : ''"></i> 
								&nbsp; {{group.name}}
					</ion-item>
					<ion-item ng-if="group.name=='Search'" class="item-stable" ng-click="toggleGroup(group)" ng-href="{{group.link}}" ng-class="{active: isGroupShown(group)}">
						<i  ng-class="group.name=='Search' ? (isGroupShown(group) ? 'ion-minus' : 'ion-plus') : ''"></i> 
								&nbsp; {{group.name}}
					</ion-item>
					<ion-item menu-close class="item-accordion" ng-repeat="item in group.items" ng-href="{{item.link}}" ng-show="isGroupShown(group)">
						{{item.name}}
					</ion-item>
				</div>
			</ion-list>
			<ion-list ng-if="logged == 1">
				<div ng-repeat="group in groupLI" >
					<ion-item ng-if="group.name!='Search' && group.name!='My Profile'" menu-close class="item-stable" ng-click="toggleGroup(group)" ng-href="{{group.link}}" ng-class="{active: isGroupShown(group)}">
						
						<i ng-class="group.name=='Search' || group.name=='My Profile' ? (isGroupShown(group) ? 'ion-minus' : 'ion-plus') : ''"></i> 
								&nbsp; {{group.name}}
					</ion-item>
					<ion-item ng-if="group.name=='Search' || group.name=='My Profile'" class="item-stable" ng-click="toggleGroup(group)" ng-href="{{group.link}}" ng-class="{active: isGroupShown(group)}">
						
						<i ng-class="group.name=='Search' || group.name=='My Profile' ? (isGroupShown(group) ? 'ion-minus' : 'ion-plus') : ''"></i> 
								&nbsp; {{group.name}}
					</ion-item>
					<ion-item menu-close class="item-accordion" ng-repeat="item in group.items" ng-href="{{item.link}}" ng-show="isGroupShown(group)">
						{{item.name}}
					</ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>


