<ion-view>
  <ion-content class="padt-55">
    <div class="align-center dash-img">
      <a ng-href="#/app/edit_profile"><i class="ion-android-settings"> </i></a>
      <img ng-src="{{myDashboard[0].fb_picture}}"/>
      <p class="font-16"><b>{{myDashboard[0].firstname}} {{myDashboard[0].lastname}}</b></p>
      
      <div class="general-line">
        <div class="float-left align-center">
          <div class="dash-general-stat">
            <i class="ion-chatbox-working green"> </i>
            <b>{{dashStat[0].comment_nr}}</b><br /><span class="dash-general-stat-text">comments</span>
          </div>
        </div>
        <div class="float-right align-center">
          <div class="dash-general-stat">
            <i class="ion-images green"> </i>
            <b>{{dashStat[0].image_nr}}</b><br /><span class="dash-general-stat-text">images</span>
          </div>
        </div>
      </div>
    </div>
    <a ng-href="#/app/my_applications">
      <div class="container-padding stat-lines">
        <div class="stat-block float-left mb-0">
          <i class="ion-android-done-all"> </i>
          <span>Joined</span>
        </div>
        <p class="float-right font-16 mb-0" style="line-height: 30px;">{{dashStat[0].joined_nr}}</p>
        <div class="clearer"></div>
      </div>
    </a>

    <a ng-href="#/app/my_bookmarks">
      <div class="container-padding stat-lines">
        <div class="stat-block float-left mb-0">
          <i class="ion-android-bookmark"> </i>
          <span>Bookmarked</span>
        </div>
        <p class="float-right font-16 mb-0" style="line-height: 30px;">{{dashStat[0].bookmarked_nr}}</p>
        <div class="clearer"></div>
      </div>
    </a>

    <a ng-href="#/app/my_bonus_points">
      <div class="container-padding stat-lines">
        <div class="stat-block float-left mb-0">
          <i class="ion-ios-cart"> </i>
          <span>Total Redeemable Points</span>
        </div>
        <p class="float-right font-16 mb-0" style="line-height: 30px;">{{dashStat[0].points_nr}}</p>
        <div class="clearer"></div>
      </div>
    </a>

    <div class="general-line-bottom" ng-if="myDashboard[0].country && myDashboard[0].county && myDashboard[0].location">
      <div class="float-left align-center">
        <div class="dash-location-stat">
          <i class="ion-map"> </i>
          <span class="dash-location-stat-text">{{myDashboard[0].country}}</span>
        </div>
      </div>
      <div class="float-left align-center">
        <div class="dash-location-stat">
          <i class="ion-navigate"> </i>
          <span class="dash-location-stat-text">{{myDashboard[0].county}}</span>
        </div>
      </div>
      <div class="float-left align-center">
        <div class="dash-location-stat">
          <i class="ion-location"> </i>
          <span class="dash-location-stat-text">{{myDashboard[0].location}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>