<ion-view class="welcome-view" cache-view="false" hide-nav-bar="true">
  <ion-content>
    <div class="top-content row align-center">
      <div class="app-copy no-border col col-top">
        <img ng-src="http://www.wheee.eu/assets/images/logo-160x160-10.png" class="app-logo"/>
        <h1 class="white">Wheee!</h1>
        <p class="app-tagline">
            Find your best events in your town!
          </p>
      </div>
    </div>
    <div class="bottom-content row align-center">
      <div class="col no-border col-bottom">
        <h3 class="white">Sign in now!</h3>
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
        <a class="skip" ng-href="#/app/home">Skip</a>
      </div>
    </div>
  </ion-content>
</ion-view>
