<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div class="align-center">
        <h3 class="float-left">Log In</h3>
        <i class="ion-close-round float-right" ng-click="closeModal()"> </i>
        <div class="clearer"></div>
        <hr />
        <i class="ion-unlocked" style="font-size: 100px;"> </i>
        <p>Please log in first to be able to do this action!</p>
        <h3>Sign In Now!</h3>
        <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">
          Log in with Facebook
        </a>
      </div>
      <p class="subtitle white mt-25" style="padding-left: 0;">
          <i class="ion-android-done-all"> </i>
          <span>Why to use Wheee?</span>
      </p>
      <p class="mt-25">- Lot of prizes and redeemable points for you!</p>
      <p>- Be up-to-date!</p>
      <p>- Keep your city in your hands!</p>
      <p>- Wheee! is the new generation of event finding!</p>

    </ion-content>
  </div>
</ion-modal-view>
