<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div class="align-center">
        <h3 class="float-left">No Internet Connection!</h3>
        <div class="clearer"></div>
        <hr />
        <i class="ion-wifi" style="font-size: 100px;"> </i>
        <p>Please enable your internet connection!</p>

        <a class="button button-block mt-25 bg-green" ng-controller="AppCtrl" ng-click="retryConnection()">
          Retry Connection
        </a>
        <a class="button button-block" ng-controller="AppCtrl" ng-click="cancelConnection()">
          Cancel
        </a>
      </div>


      <p class="subtitle white mt-25" style="padding-left: 0;">
          <i class="ion-android-done-all"> </i>
          <span>Why to use Wheee?</span>
      </p>
      <p class="mt-25">- Lot of prizes and redeemable points for you!</p>
      <p>- Be up-to-date!</p>
      <p>- Keep your city in your hands!</p>
      <p>- Your city's biggest community in one app!</p>
      <p>- Wheee! is the new generation of event finding!</p>

    </ion-content>
  </div>
</ion-modal-view>
